# Copyright (c) 2013 The F9 Microkernel Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menu "Limitations"
config MAX_THREADS
	int "Maximum amount of threads"
	default 32

config MAX_KT_EVENTS
	int "Maximum amount of kernel timer events"
	default 64

config MAX_ASYNC_EVENTS
	int "Maximum of asynchronous events"
	default 32

config MAX_ADRESS_SPACES
	int "Maximum of address space"
	default 16

config MAX_FPAGES
	int "Maximum flexible pages"
	default 256
endmenu


menu "Kernel Timer"
config KTIMER_TICKLESS
	bool "Tickless scheduling"
	default y

config KTIMER_TICKLESS_VERIFY
	bool "Track tickless scheduling status"
	depends on KTIMER_TICKLESS
	default n

config KTIMER_TICKLESS_COMPENSATION
	int "Tickless compensation"
	depends on KTIMER_TICKLESS
	default 0

config KTIMER_TICKLESS_INT_COMPENSATION
	int "Tickless interrupt compensation"
	depends on KTIMER_TICKLESS
	default 0

config KTIMER_HEARTBEAT
	int "Heartbeat value of ktimer"
	default 65536
	help
	  Current implementation utilizes SysTick, and the value of
	  CONFIG_KTIMER_HEARTBEAT is its initial reload value.

config KTIMER_MINTICKS
	int "Minimal ticks scheduled by ktimer"
	default 128
endmenu

menu "Flexible page tweaks"
config LARGEST_FPAGE_SHIFT
	int "Largest shift of flexible pages"
	default 16

config SMALLEST_FPAGE_SHIFT
	int "Smallest shift of flexible pages"
	default 8
endmenu

menu "Thread tweaks"
config INTR_THREAD_MAX
	int "Maximum of interrupt threads"
	default 256
endmenu

menu "KIP tweaks"
config KIP_EXTRA_SIZE
	int "Size of extra information on KIP"
	default 128
endmenu


menu "Kernel hacking"
config DEBUG
	bool "Debug IO facilities"
	default y

if DEBUG
source platform/Kconfig.debug
endif

config KDB
	bool "Kdb: kernel debugger"
	default y
	select DEBUG
	select DEBUG_DEV_UART

config KPROBES
	bool "KProbes: dynamic instrumentation system"
	default y

config SYMMAP
	bool "Generate symbol map"
	default y
	depends on KPROBES

config PANIC_DUMP_STACK
	bool "Dump kernel stack while panic"
	default y

endmenu
