# Copyright (c) 2013 The F9 Microkernel Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if DEBUG
config DEBUG_DEV_UART
	bool "UART based implementation"
	default y
	help
	  At present, it is the only device for KDB use.

if !KDB
config DEBUG_DEV_RAM
	bool "RAM based virtual device"
	default n
	help
	  A simple implementation of RAM base virtual debug device
endif

endif
