# Copyright (c) 2013 The F9 Microkernel Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menu "Platform"

choice
	prompt "Platform"
	default BOARD_STM32F4DISCOVERY

config BOARD_STM32F4DISCOVERY
	bool "STM32F4"

config BOARD_STM32F429DISCOVERY
	bool "STM32F429"

config BOARD_STM32P103
	bool "STM32P103"

endchoice

config BITMAP_BITBAND
	bool "Generate bitmap address in bit-band region"
	default n

config FPU
	bool "Floating point support"
	default n
	depends on !BOARD_STM32P103

config SEMIHOST
	bool "Semihosting enable"
	default n
	depends on BOARD_STM32P103

choice
	prompt "Standard I/O device"
	default STDIO_USE_DBGPORT
	help
	  Select input/output device for stdio

config STDIO_NODEV
	bool "Null device"

config STDIO_USE_DBGPORT
	bool "Debug serial IO"
	select DEBUG

endchoice

choice
	prompt "Debug serial IO uses"
	default DBGPORT_USE_USART4
	depends on STDIO_USE_DBGPORT

config DBGPORT_USE_USART1
	bool "USART1"
config DBGPORT_USE_USART2
	bool "USART2"
config DBGPORT_USE_USART4
	bool "USART4"

endchoice

if BOARD_STM32F4DISCOVERY
source platform/stm32f4/Kconfig
endif
if BOARD_STM32F429DISCOVERY
source platform/stm32f429/Kconfig
endif
if BOARD_STM32P103
source platform/stm32f1/Kconfig
endif

endmenu
