# Copyright (c) 2013 The F9 Microkernel Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menu "Loader"

config LOADER
	bool "Build loader to load f9"
	default n

endmenu
