CONFIG_BOARD_STM32F429NUCLEO=y
CONFIG_DBGPORT_USE_USART3=y
CONFIG_EXTI0_USER_IRQ=y
CONFIG_EXTI1_USER_IRQ=y
CONFIG_ETH_USER_IRQ=y
CONFIG_BUILD_USER_APPS=y
CONFIG_PINGPONG=y
CONFIG_EXTI_INTERRUPT_TEST=y
