# Copyright (c) 2015 The F9 Microkernel Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menu "Test Case"
config EXTI_INTERRUPT_TEST
	bool "EXTI interrupt test case"
	default n
	depends on EXTI0_USER_IRQ && EXTI1_USER_IRQ

endmenu
