# Copyright (c) 2015-2017 The F9 Microkernel Project. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menu "User Space"

config BUILD_USER_APPS
	bool "Build user applications for F9 microkernel"
	default n
	---help---
		Enable this options to will compile userspace apps
		into f9-kernel, This may let you unable to use kdb.

source "user/Kconfig.apps"

source "user/Kconfig.tests"

endmenu
